<!-- Testing bulma class -->
<section class="hero is-primary">
    <div class="hero-body">
        <p class="title">
            Quick start angular and nodejs project
        </p>
        <p class="subtitle">
            <!-- Testing translation service -->
            {{ 'TEST' | translate }}
        </p>
    </div>
</section>
<button class="button" (click)='change_locale()'>Change locale</button>
<br>
<a routerLink="/login">sign in</a>
<br>
<a routerLink="/register">sign up</a>
<!--<a routerLink="/test">test</a>-->