.container {
    width: 70%;
}

.horizontaly_centered {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
}

.search_block {
    padding-top: 4%;
}

.site_description_block {
    text-align: center;
    padding-top: 5%;
    width: 70%;
}