<div *ngIf="allow_edit">
    <button *ngIf="!editing" class="button" (click)="editing = true">Edit</button>
    <button *ngIf=" editing" class="button" (click)="save_changes()">Save</button>
    <button *ngIf=" editing" class="button" (click)="modal_classes['is-active'] = true">Add</button>
</div>
<div *ngIf="editing">
    <app-book-search [extra_actions]="[google_search_action, { name: '_RATE_THIS_ACTIVE', action: on_rate.bind(this) }]" [images_used]="'Image-URL-S'"
        [reviews]="reviews" [use_reviews]='true'></app-book-search>
</div>
<div *ngIf="!editing">
        <app-book-search [extra_actions]="[google_search_action, { name: '_RATE_THIS_INACTIVE', action: on_rate.bind(this) }]" [images_used]="'Image-URL-S'"
            [reviews]="reviews" [use_reviews]='true'></app-book-search>
    </div>
<div class="modal" [ngClass]="modal_classes">
    <div class="modal-background" (click)="modal_classes['is-active'] = false"></div>
    <div class="modal-content" style="height: 90%; width: 70%; background-color: lightgrey;">
        <app-book-search [extra_actions]="[google_search_action, { name: 'Add', action: add_new.bind(this) }]" [images_used]="'Image-URL-M'" [reviews]="reviews"></app-book-search>
    </div>
</div>