.register_window {
    padding-top: 8%;
    width: 50%;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
}

.register_input {
    width: 40%;
}

.from_container {
    display: table;
    width: 100%;
}

.form_inline {
    display: table-row;
    width: 100%;
}

.form_elem_left {
    display: table-cell;
    text-align: right;
    width: 40%;
    margin: 2%;
    vertical-align: super;
}

.form_elem_right {
    display: table-cell;
    text-align: left;
    margin: 2%;
    vertical-align: middle;
}